/* chat css */
ul.chat
{
  list-style: none !important;
  margin: 0;
  padding: 0;
}
ul.chat li
{
  margin-bottom: 2%;
  padding: 2%;
  width: 50%;
}
ul.chat .odd {
  background: rgb(236, 236, 236);
}
ul.chat .even {
  background: rgb(166, 230, 255);
}

/* tags css */
ul.tags
{
  list-style: none !important;
  margin: 20px 0 0 0;
  clear: both;
  max-width: 700px !important;
}
ul.tags li
{
  float: left;
  margin-right: 15px !important;
  line-height: 24px !important;
}
ul.tags li a
{
  display: inline-block;
  font-family: 'proxima-nova','Helvetica','Avenir',sans-serif;
  padding: 0 10px;
  border: 4px solid #f8f8f8;
  background-color: #fff;
  color: #111;
}
ul.tags li a:hover
{
  color: #fff;
  border: 4px solid #000;
}
ul.tags li a:before
{
  content: '#';
}

/* kudos positioning css */
figure.bottom
{
  margin-top: 30px !important;
}
.like_button iframe {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 4px;
  left: 3px;
  min-height: 0;
}
figure.kudo div.like{
  position: absolute;
  left: 25%;
  top: 30%;
}

/* notes css */
ol.notes
{
  clear: both;
  padding-left: 18px;
  list-style: none;
  margin: 80px 0 0 0 !important;
  border-left: 10px solid #000;
}
li.note img.avatar
{
  display: inline-block;
  width: auto !important;
}
li.note span.action a
{
  font-weight: 700;
}
li.note blockquote
{
  border-left: none;
}

@media (max-width: 750px) {
  blockquote
  {
    padding-left: 18px !important;
  }
}

article h2 a.anchor
{
  color: #fff;
  margin-left: 5px;
}
article h2 a.anchor svg
{
  width: 16px;
  height: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAA9ElEQ…QtRfx%2FoFXtcguXhAAWkotOb2mcRTxEhUrHtO0xYmX9zd4VALmgAAAABJRU5ErkJggg%3D%3D) center center no-repeat 9;
  height: 18px 9;
  border: 0;
  vertical-align: bottom;
  padding-top: 7px;
}

header#begin time {
  position: static;
}

/* http://pea.rs/content/data-table */
table{margin:0; padding:0}
table th, 
table td{padding:10px 20px; text-align:left; border-bottom:1px solid #ccc}
table th{border-width:2px}
table td{color:#666}
table tr:last-child th, 
table tr:last-child td{border-bottom:none}
table tr:nth-child(even){background:#eee}

/* github gist support */
div.gist {
  font-size: 0.8em;
  max-width: 500px;
}